.gallery-section {
  /* background: rgba(213, 201, 171, 0.7); */
    /* background: linear-gradient(90deg,#fff7e2 0%,#ffeecd 99%); */
      background: linear-gradient(90deg,#ffeaa9 0,#fff9e9 99%);
/* background: rgb(213, 201, 171); */
  text-align: center; padding: 33px 0;
}
.gallery-title {
  color: #b16009;
  font-size: 2rem;
  margin-bottom: 18px;
  font-family: 'Tiro Devanagari Sanskrit', serif;
}
.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);   
  gap: 30px 30px;                          
  justify-items: center;
}
.gallery-img {
  width: 100%;         
  max-width: 380px;   
  height: 250px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 8px 32px #c57d0e22;
  border: 2.5px solid #ffd596;
}


/* This ensures three images per row even on wide screens */
@media (min-width: 1200px) {
  .gallery-images {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: flex-start;
  }
  .gallery-img {
    flex: 1 0 30%;      
    max-width: 390px;
  }
}


.play-button {
  position: absolute;
  left: 50%; top: 50%; transform: translate(-50%,-50%);
  width: 70px; height: 70px;
  background: rgba(32,32,32,0.64);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 3px 14px #b67a13a5;
}
.play-button:after {
  content: '';
  display: block;
  margin-left: 23px;
  margin-top: 16px;
  border-style: solid;
  border-width: 14px 0 14px 25px;
  border-color: transparent transparent transparent #ffcc33;
}
.video-container {
  position: relative;
  max-width: 820px;
  margin: 0 auto;
  border-radius: 19px;
  overflow: hidden;
  background: #212415;
  border: 3px solid #cba661;
  box-shadow: 0 8px 28px #8d6c0529;
}
.video-container img {
  display: block;
  width: 100%;
  border-radius: 19px;
  height: 410px;
  object-fit: cover;
}

.live-header, .live-section h3 {
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 2.1rem;
  color: #bc7406;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 17px;
  text-shadow: 0 3px 11px #dbbc0939;
  text-align: center;
}

.gallery-img:hover,
.gallery-img:focus {
  transform: scale(1.03);
  box-shadow: 0 18px 52px #dbad3654, 0 3px 24px #ffc84c11;
  border-color: #ffb421;
  outline: none;
}